.about-me-text-main{
    font-size: 65px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 8px;
}

.light-theme .about-me-text-main {
    color: black;
}

.dark-theme .about-me-text-main {
    color: white;
}

.ranges-container{
    width: 100%;
    height: 349px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.first-range{
    display: flex;
    width:100%;
    flex-direction: column;
    margin-top:40px;
}

.aboutFirstDivLeft{
    height:100%;
    width:50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.first-range-show{
    position: relative;
}

.long-range-back{
    position: absolute;
    width: 100%;
    height: 12px;
    background-color: #EDECEC;
    border-radius: 20px;
    top: 11px;
}

.long-range-orange-first{
    position: absolute;
    width: 95%;
    height: 12px;
    background-color: #FF6300;
    border-radius: 20px;
    top: 11px;
}

.long-range-circle-first{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #EDECEC;
    border-radius: 20px;
    border: 2px solid #FF6300;
    left: 92%;
}

.long-range-orange-second{
    position: absolute;
    width: 90%;
    height: 12px;
    background-color: #FF6300;
    border-radius: 20px;
    top: 11px;
}

.long-range-circle-second{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #EDECEC;
    border-radius: 20px;
    border: 2px solid #FF6300;
    left: 87%;
}

.long-range-orange-third{
    position: absolute;
    width: 95%;
    height: 12px;
    background-color: #FF6300;
    border-radius: 20px;
    top: 11px;
}

.long-range-circle-third{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #EDECEC;
    border-radius: 20px;
    border: 2px solid #FF6300;
    left: 92%;
}

.long-range-orange-fourth{
    position: absolute;
    width: 85%;
    height: 12px;
    background-color: #FF6300;
    border-radius: 20px;
    top: 11px;
}

.long-range-circle-fourth{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #EDECEC;
    border-radius: 20px;
    border: 2px solid #FF6300;
    left: 83%;
}